$primary-color: #1976d2;
$primary-color-text: #fff;
$primary-color-shade: #165b9e;

$landing-footer-text-color: #fff;
$cp-footer-text-color: #fff;

$cp-banner-footer-primary: #eee;

$cp-background-color: #fff;


