#landing
{
    margin: 20px 10% 20px 10%;
}
#landing h1
{
    font-size: 22px;
    color: #3498db;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}
#landing strong
{
    font-size: 14px;
    color: #3498db;
}
#landing p
{
    text-align: center;
}
#services span
{
    font-size: 3em;
}
#sliderFrame
{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#slider
{
    width: 80%;
    height: 400px;
}