<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add a description here -->
    <meta name="description" content="[@description]">
    <meta name="keywords" content="[@keywords]">
    <meta name="robots" content="index,follow">
    <!-- Icon stuff -->
    <link rel="icon" sizes="196x196" href="icons/icon196.png">
    <link rel="icon" sizes="128x128" href="icons/icon128.png">
    <link rel="apple-touch-icon" sizes="128x128" href="icons/icon128.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="icons/icon128.png">
    <link rel="apple-touch-startup-image" href="icons/icon196.png">
    <link rel="shortcut-icon" href="icons/favicon.ico">
    <link rel="icon" type="image/png" href="icons/favicon.png" sizes="32x32">
    
    
    <head>
        <!-- HTML5 shim and respond.js for IE8 and below support. -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="html5shiv/dist/html5shiv.min.js"><\/script>')</script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Helvetica+Neue">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- CP Layout -->
        <link rel="stylesheet" href="../css/cp-layout.css">
        <!-- Personal code for header here -->
        <title>[@title]</title>
        
    </head>
    <body>
        <!-- Inform user of outdated browsers -->
        <script> 
        var $buoop = {reminder:0,reminderClosed:1}; 
        function $buo_f(){ 
         var e = document.createElement("script"); 
         e.src = "//browser-update.org/update.min.js"; 
         document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
        </script> 
        
        
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- navbar -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <nav class="navbar navbar-custom">
                        <!-- collapsed version of navbar -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">[@brand]</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- important to have current for screen readers -->
                                [@navbar-options]
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- banner between navbar and cp-header -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <section class="banner">
                        <img src="../images/banner.jpg" />
                        <div class="banner-footer hidden-xs hidden-sm hidden-md">
                            <div class="banner-content">
                                <p>Players Online: <span class="banner-number">[@players-online]</span></p>
                                <p>Total Playing Hours: <span class="banner-number">[@playing-hours]</span></p> 
                            </div>
                        </div>
                    </section>
                </div>
                
                [@cp-content]
                
                <!-- footer credits -->
                <footer>
                    <div class="col-lg-4 col-md-4 col-sm-4"></div><!-- empty magic -->
                    <div class="col-lg-4 col-md-4 col-sm-4"><p>Copyright 2017&copy; developed by Kevin 'Extremo' Sekin</p></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"></div><!-- empty magic -->
                </footer>
            </div>
        <!-- end of container -->
        </div>
        
        
        
        <!-- All scripts go below this point to allow the page to load fully before scripts are loaded. -->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="jquery-3.1.0/jquery-3.1.0.min.js"\x3C/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>$.fn.modal || document.write('<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"\x3C/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
        <script src="../js/cp-content.js"></script>
        <script src="../js/cp-sidebar.js"></script>
    </body>
</html>